<!DOCTYPE html>
<html>
<head>
  <title>nicethread gifs</title>
  <link rel="stylesheet" type="text/css" href="stylesheets/gifs.css">
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script type="text/javascript" src="javascripts/freezeframe.js"></script>
  <script type="text/javascript">
    freezeframe_options = {
      loading_background_color: "#999",
      animation_icon_image: false
    }
  </script>
</head>
<body>
  <% @gifs.each do |key, v| %>
    <% next if key.match(/tags\//) %>
    <% v.value.each do |src| %>
      <div class="gif">
        <div class="thumbnail">
          <a href="<%= src %>">
            <% if src =~ /gifv/ %>
              <video src="<%= src %>" target="_none" />
            <% else %>
              <% if src.include?('imgur') %>
                <img src="<%= src %>" class="freezeframe" target="_none" />
              <% else %>
                <img src="<%= src %>" target="_none" />
              <% end %>
            <% end %>
          </a>
        </div>
        <div>
          <span><%= key.gsub(/^gifs\//, '') %></span>
        </div>
      </div>
    <% end %>
  <% end %>
</body>
</html>
